@media screen and (min-width: 428px) {
  /* -------------------------HEADER---------------------------------- */
  .mobile-menu {
    gap: 284px;
  }
  .burger-nav-items {
    gap: 40px;
  }
  .burger-contacts-icons {
    gap: 40px;
    margin: 0 0 48px 40px;
  }
  .burger-svg-icons {
    gap: 56px;
  }
  .link.description.contact-icon.burger-number > .svg.phone {
    width: 28px;
  }
  .link.description.contact-icon.burger-number {
    font-size: 36px;
  }
  /* -------------------------PORTFOLIO.HTML---------------------------------- */
  .team-items {
    padding: 0 52px;
  }
  /* -------------------------MODAL---------------------------------- */

  .modal {
    width: 392px;
    height: 600px;
  }
  .close {
    top: 24px;
    right: 24px;
  }
  .form,
  .form-field textarea {
    width: 360px;
  }
  .accept {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
  }
}
