/* -------------------------MAIN SETTINGS---------------------------------- */

:root {
  --navy-blue: #2e2f42;
  --white-color: #fff;
  --cloud-color: #f4f4fd;
  --cloud-color-with-opacity: #f4f4fdbd;
  --blue-color: #4d5ae5;
  --blue-color-with-opacity: #4d5ae5bb;
  --slate-color: #434455;
  --cornflower-color: #e7e9fc;
  --green-color: #31d0aa;
  --light-slate-color: #8e8f99;
  --bg-footer-icons: rgba(255, 255, 255, 0.1);
  --modal-color: #fcfcfc;
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --letter-spacing: 0.02rem;
  --line-height: 1.5;
  --semibold-weight: 600;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: normal;
  color: var(--navy-blue);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  background-color: var(--white-color);
}

body.modal-open {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.title {
  margin: 0 0 80px 0;
}

.subtitle {
  margin: 0 0 72px 0;
}

.crosstitle {
  margin: 32px 0 8px 0;
}

.description {
  margin: 0 0 32px 0;
}

.container {
  width: 100vw;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 96px 0;
}

/* -------------------------SECTIONS---------------------------------- */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.hero {
  margin: 0 auto;
  color: var(--cloud-color);
  max-width: 1600px;
  height: auto;
  background-image: linear-gradient(
      90deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    url("../images/people-office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--navy-blue);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        90deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url("../images/people-office@2x.jpg");
  }
}

.team {
  background-color: var(--cornflower-color);
  text-align: center;
}

.footer {
  background-color: var(--navy-blue);
}

.doing {
  display: none;
}

.hidden {
  display: none;
}

/* -------------------------BUTTONS--------------------------------- */

.btn {
  align-items: center;
  letter-spacing: 0.04em;
  font-weight: var(--semibold-weight);
  background-color: var(--cloud-color);
  color: var(--blue-color);
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
  text-decoration: none;
  transition: background-color var(--main-transition),
    color var(--main-transition), border var(--main-transition);
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--blue-color);
  color: var(--cloud-color);
  border: 1px solid var(--blue-color);
}

.button-item:hover,
.button-item:active,
.button-item:focus {
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow var(--main-transition);
}

.btn.backward {
  font-weight: var(--semibold-weight);
  line-height: 1.19;
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--blue-color);
  border-radius: 4px;
  transition: background-color var(--main-transition);
}

.btn.backward:hover,
.btn.backward:active,
.btn.backward:focus,
.send:hover,
.send:active,
.send :focus,
.footer-button:hover,
.footer-button:active,
.footer-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -------------------------h1/h2/h3---------------------------------- */

.title,
.subtitle,
.feature-item .crosstitle {
  font-weight: var(--semibold-weight);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.crosstitle {
  line-height: 1.2;
  font-size: 20px;
  font-weight: var(--semibold-weight);
}

.title {
  color: var(--white-color);
}

/* .subtitle {
  font-weight: var(--semibold-weight);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.crosstitle {
  line-height: 1.2;
  font-size: 20px;
  font-weight: var(--semibold-weight);
} */
/* -------------------------p/link/nav/hover:focus---------------------------------- */

.description,
.link.description {
  color: var(--slate-color);
}

.link.description {
  font-weight: var(--semibold-weight);
}

.link {
  font-weight: var(--semibold-weight);
  color: var(--navy-blue);
  text-decoration: none;
  transition: color var(--main-transition);
}

.link:hover,
.link:active,
.link:focus {
  color: var(--blue-color);
}

.link.nav {
  color: var(--navy-blue);
}

/* -------------------------FEATURES---------------------------------- */

.feature-svg-bg {
  display: none;
}

.web {
  font-family: var(--second-font);
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-color);
  font-weight: 800;
}

.logo {
  color: var(--navy-blue);
}

.footer {
  color: var(--cornflower-color);
}

.secret-name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.description.footer.no-psevdo {
  color: var(--cloud-color);
}

/* -------------------------CARDS---------------------------------- */

.person {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color);
}

.team-svg-icons {
  margin: 12px auto 36px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.card-item {
  position: relative;
  border-bottom: 0.5px solid var(--cloud-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--main-transition);
  overflow: hidden;
}

.card-item:hover,
.card-item:active {
  box-shadow: 0px 1px 10px rgba(46, 47, 66, 0.58);
}

/* -------------------------MARGINS/PADDINGS/WIDTH/HEIGHT---------------------------------- */
/* -------------------------HEADER---------------------------------- */
.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link.description.contact-icon.burger-number > .svg.phone {
  margin: -3px 5px 0 0;
  fill: var(--blue-color);
}

.burger-contacts-icons .svg {
  margin: 0 10px 0 0;
  fill: var(--slate-color);
}

.contacts-icons {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.link.description {
  margin: 0;
}

.link.description.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------FOOTER---------------------------------- */
.footer-container,
.footer-wrapper,
.footer-social,
.footer-subscribe,
.footer-form-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wrapper {
  margin-top: 96px;
}

.footer-subscribe {
  margin-bottom: 96px;
}

.footer-container {
  margin: 0 auto;
  gap: 72px;
}

.footer-social,
.footer-subscribe {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-container > .row {
  gap: 72px;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  background-color: var(--blue-color);
  border-style: none;
  border-radius: 4px;
  transition: background-color var(--main-transition);
}

.footer-title-button {
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  margin-right: 16px;
}

.no-psevdo {
  margin: 16px 0 0 0;
  width: 268px;
}

.footer-svg-icons {
  display: flex;
  margin-right: auto;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
}

.footer-svg-icons {
  margin: 0;
  gap: 16px;
}

.footer-title {
  font-weight: var(--semibold-weight);
  font-size: 16px;
  margin-bottom: 16px;
}

/* -------------------------INDEX.HTML---------------------------------- */
.hero .title {
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn.backward {
  padding: 16px 32px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-items,
.team-items {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-items {
  padding: 0 14px;
}

.feature-item > .crosstitle {
  margin: 0 0 8px 0;
}

.team-item > .crosstitle {
  font-size: 20px;
  line-height: 1.2;
  font-weight: var(--semibold-weight);
}

.feature-item > .description {
  margin: 0;
}

.team-item > .description {
  margin-bottom: 0;
}

.customers-items {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 16px;
}

.customers-item {
  flex-basis: calc((100% - 48px) / 2);
}

/* -------------------------PORTFOLIO.HTML---------------------------------- */
.section-portfolio {
  padding: 48px 0;
}

.card-items {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  column-gap: 24px;
}

.buttons-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 24px;
  row-gap: 16px;
  margin: 0 0 48px 0;
}

.btn {
  padding: 12px 24px;
}

.card {
  padding: 0 0 120px 0;
}

.container-card-item {
  margin-left: 10px;
}

/* -------------------------SVG---------------------------------- */
.contacts-icon:hover .svg,
.contacts-icon:active .svg {
  fill: var(--blue-color);
}

.team-svg-icon-link {
  background-color: var(--blue-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: background-color var(--main-transition);
}

.team-svg-icon-link:hover,
.team-svg-icon-link:active {
  background-color: var(--green-color);
}

.customers-svg-icon {
  fill: #8e8f99;
  transition: fill var(--main-transition);
}

.customers-svg-icon:hover,
.customers-svg-icon:active {
  fill: var(--blue-color);
}

.customers-svg-link {
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border var(--main-transition);
}

.customers-svg-link:hover,
.customers-svg-link:active {
  border: 1px solid var(--blue-color);
}

.footer-svg-icon-link {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  background-color: var(--bg-footer-icons);
  padding: 8px;
  transition: background-color var(--main-transition);
}

.footer-svg-icon-link:hover,
.footer-svg-icon-link:active {
  background-color: var(--green-color);
  opacity: 1;
}

.footer-svg-icon {
  fill: var(--cloud-color);
}

/* -------------------------POSITIONS/MODAL/OVERLAY---------------------------------- */

.card-item {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 120px;
  left: 0;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: var(--blue-color-with-opacity);
  transition: height var(--main-transition);
}

.hide-smaller-than-428px {
  display: none;
}

.card-item:hover .overlay,
.card-item:active .overlay {
  height: 300px;
}

.card-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 20px;
  color: var(--cloud-color);
  font-size: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity var(--main-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--main-transition);
  width: 300px;
  height: 85%;
  overflow: scroll;
  background-color: var(--modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: var(--modal-color);
  border-style: none;
}

/* -------------------------FORMS---------------------------------- */
.footer-input {
  width: 80vw;
  max-width: 396px;
  height: 40px;
  background-color: var(--navy-blue);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  padding: 8px 0 8px 16px;
}

.form {
  width: 260px;
  margin: 72px auto 24px;
  display: flex;
  flex-direction: column;
}

.form-title {
  font-weight: var(--semibold-weight);
  color: var(--navy-blue);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  position: relative;
}

.form-field label,
.form-field textarea,
.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01;
  color: var(--light-slate-color);
  margin-bottom: 4px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 45px;
  gap: 10px;
  transition: border var(--main-transition);
}

form input:not(:placeholder-shown):required:valid,
form .footer-input:not(:placeholder-shown):required:valid {
  border-color: green;
}

form input:not(:placeholder-shown):required:invalid,
form .footer-input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

.form-field textarea {
  width: 260px;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  color: var(--slate-color);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border var(--main-transition);
}

.modal-svg-icon.human {
  position: absolute;
  top: 50%;
  left: 5%;
}

.modal-svg-icon.handset,
.modal-svg-icon.letter {
  position: absolute;
  top: 45%;
  left: 5%;
}

#contact-details {
  margin-bottom: 16px;
}

.accept {
  margin-bottom: 14px;
}

.checkbox {
  display: none;
}

.done {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1.25px solid var(--navy-blue);
  transition: border var(--main-transition),
    background-color var(--main-transition);
}

.modal-svg-icon-done {
  fill: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px auto;
  transition: fill var(--main-transition);
}

.checkbox:checked + .done {
  background-color: var(--blue-color);
  border: 1.25px solid var(--blue-color);
}

.checkbox:checked + .done .modal-svg-icon-done {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  margin: 3px auto;
  border-radius: 2px;
  fill: var(--white-color);
}

.accept label {
  font-size: 12px;
  line-height: 1.33;
  color: #757575;
}

.accept label a {
  margin-left: 3px;
  color: var(--blue-color);
}

.send {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 16px 82px;
  margin: 0 auto;
  font-weight: var(--semibold-weight);
  color: var(--white-color);
  line-height: 1.19;
  background-color: var(--blue-color);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--main-transition),
    border var(--main-transition);
}

.send:hover,
.send:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}

.modal-svg-icon {
  fill: var(--navy-blue);
  transition: fill var(--main-transition);
}

.form-input:focus + .icon > .modal-svg-icon {
  fill: var(--blue-color);
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.form-input:focus,
.form-field textarea:focus {
  border: 1px solid var(--blue-color);
}

/* -------------------------BURGER---------------------------------- */
.burger-container {
  min-width: 320px;
  max-width: 1170px;
}

.page-header .burger-container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navy-blue);

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:active,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--white-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;
  overflow: scroll;

  transform: translateX(150%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.mobile-menu .link {
  color: var(--navy-blue);
  text-decoration: none;
}

.burger-nav-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 80px;
  margin-left: 40px;
}

.burger-nav-item,
.burger-number {
  font-size: 36px;
  font-weight: var(--semibold-weight);
  line-height: 1.11;
}

.burger-svg-icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

.burger-contacts-icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  margin: 0 0 30px 40px;
}

.link.description.contact-icon.burger-number,
.mobile-menu.link.active {
  color: var(--blue-color);
}

.link.description.contact-icon.burger-number {
  font-size: 25px;
}

.link.description.contact-icon.burger {
  font-size: 20px;
  font-weight: var(--semibold-weight);
  line-height: 1.2;
  color: var(--slate-color);
}

.burger-svg-icons {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin: 0 0 48px 40px;
}

.burger-svg-icon-link {
  background-color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* -------------------------BREAKPOINTS---------------------------------- */

@media screen and (min-width: 428px) {
  /* -------------------------HEADER---------------------------------- */
  .container {
    max-width: 396px;
  }

  .mobile-menu {
    gap: 284px;
  }

  .burger-nav-items {
    gap: 40px;
  }

  .burger-contacts-icons {
    gap: 40px;
    margin: 0 0 48px 40px;
  }

  .burger-svg-icons {
    gap: 56px;
  }

  .link.description.contact-icon.burger-number > .svg.phone {
    width: 28px;
  }

  .link.description.contact-icon.burger-number {
    font-size: 36px;
  }

  /* -------------------------PORTFOLIO.HTML---------------------------------- */
  .team-items {
    padding: 0 52px;
  }

  .customers-items {
    row-gap: 72px;
  }

  .hide-smaller-than-428px {
    display: inline;
  }

  .card-overlay-text {
    padding: 50px 20px;
  }

  /* -------------------------MODAL---------------------------------- */

  .modal {
    width: 392px;
  }

  .close {
    top: 24px;
    right: 24px;
  }

  .form,
  .form-field textarea {
    width: 360px;
  }

  .accept {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 24px 0;
  }
}

/* -------------------------TABLET---------------------------------- */
@media screen and (min-width: 768px) {
  /* -------------------------MAIN SETTINGS---------------------------------- */

  .container {
    max-width: 736px;
    padding: 0;
  }

  .title {
    margin: 0 0 40px 0;
    font-size: 56px;
    line-height: 1.07;
  }

  /* -------------------------HEADER---------------------------------- */
  .container-header {
    padding: 24px 0 22px 0;
  }

  .nav-link {
    position: relative;
  }

  .nav-link.active::after {
    position: absolute;
    top: 245%;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    opacity: 1;
    border-radius: 2px;
    background-color: var(--blue-color);
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .menu-toggle {
    display: none;
  }

  .menu-container {
    display: none;
  }

  .contacts {
    padding-left: 30px;
  }

  .contacts-icons {
    flex-direction: column;
    gap: 4px;
    margin: 0 0 -14.5px 0;
  }

  .svg {
    margin: -0.7px 10px 0 0;
    fill: #696974;
  }

  .svg.phone {
    margin: -2px 5px 0 0;
  }

  .link.description.contact-icon {
    font-weight: normal;
  }

  /* -------------------------INDEX.HTML---------------------------------- */
  .hero .title {
    width: 492px;
    margin: 0 auto 48px;
  }

  .feature-items,
  .team-items {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }

  .team-items {
    row-gap: 56px;
    padding: 0 92px;
  }

  .customers-items {
    margin: 0 92px;
  }

  .team-item,
  .feature-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-item > img {
    width: 264px;
  }

  .feature-item > .crosstitle {
    display: flex;
    justify-content: start;
  }

  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* -------------------------PORTFOLIO.HTML---------------------------------- */

  .section-portfolio {
    padding: 64px 0 96px 0;
  }

  .buttons-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
    margin: 0 0 64px 0;
  }

  .card-items {
    row-gap: 72px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* -------------------------FOOTER---------------------------------- */

  .footer-container,
  .footer-wrapper,
  .footer-social,
  .footer-subscribe,
  .footer-form-icons {
    align-items: start;
  }

  .row {
    flex-direction: row;
    gap: 24px;
    margin-left: 108px;
    justify-content: flex-start;
  }

  .footer-subscribe {
    margin-left: 108px;
  }

  .footer-form-icons > .row {
    margin: 0;
  }

  .footer-input {
    max-width: 264px;
  }

  .footer-social {
    margin-top: 67px;
  }

  .footer-container > .row {
    gap: 24px;
  }

  /* -------------------------MODAL---------------------------------- */

  .modal {
    width: 408px;
    height: 95%;
  }
}

/* -------------------------DESKTOP---------------------------------- */
@media screen and (min-width: 1200px) {
  /* -------------------------MAIN SETTINGS---------------------------------- */

  .container {
    max-width: 1158px;
  }

  .section {
    padding: 120px 0;
  }

  .title {
    margin: 0 0 48px 0;
  }

  .link.description {
    font-weight: normal;
  }

  /* -------------------------HEADER---------------------------------- */

  .container-header {
    padding: 24px 0;
  }

  .header-menu-container {
    display: none;
  }

  .menu {
    gap: 315px;
  }

  .nav-link.active::after {
    top: 240%;
  }

  .contacts-icons {
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin: 0;
    width: max-content;
  }

  /* -------------------------INDEX.HTML---------------------------------- */
  .section-features {
    padding: 120px 0 0 0;
  }

  .feature-svg-bg {
    background-color: var(--cloud-color);
    margin-bottom: 8px;
    padding: 24px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .doing {
    display: block;
  }

  .doing-items {
    display: flex;
  }

  .feature-items,
  .doing-items,
  .team-items,
  .customers-items {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
    margin: 0;
  }

  .feature-item .crosstitle {
    line-height: 1.2;
    font-size: 20px;
    font-weight: var(--semibold-weight);
  }

  .team-items {
    padding: 0 14px;
  }

  /* -------------------------PORTFOLIO.HTML---------------------------------- */

  .card-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* -------------------------FOOTER---------------------------------- */
  .footer-container {
    flex-direction: row;
    gap: 80px;
  }

  .footer-wrapper {
    margin-top: 100px;
  }

  .footer-subscribe {
    margin-top: 98px;
  }

  .footer-wrapper {
    margin-right: 120px;
  }

  .footer-subscribe {
    margin-left: auto;
  }

  .row {
    margin-left: 0;
  }

  .footer-container > .row {
    gap: 0px;
  }
}
