@media screen and (min-width: 768px) {
  /* -------------------------MAIN SETTINGS---------------------------------- */

  .container {
    width: 736px;
    max-width: 736px;
    margin: 0 auto;
    padding: 0;
  }
  .title {
    margin: 0 0 40px 0;
    font-size: 56px;
    line-height: 1.07;
  }
  /* -------------------------HEADER---------------------------------- */
  .container-header {
    padding: 24px 0 22px 0;
  }
  .nav-link {
    position: relative;
  }
  .nav-link.active::after {
    position: absolute;
    top: 245%;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    opacity: 1;
    border-radius: 2px;
    background-color: var(--blue-color);
  }
  .container-nav {
    column-gap: 77px;
    row-gap: 0;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .menu {
    justify-content: space-between;
    gap: 24.5%;
  }
  .menu-toggle {
    display: none;
  }
  .menu-container {
    display: none;
  }
  .contacts-icons {
    flex-direction: column;
    gap: 4px;
    margin: 0 0 -14.5px 0;
  }
  .svg {
    margin: -0.7px 10px 0 0;
    fill: #696974;
  }
  .svg.phone {
    margin: -2px 5px 0 0;
  }
  .link.description.contact-icon {
    font-weight: normal;
  }
  /* -------------------------INDEX.HTML---------------------------------- */
  .container-hero > .title {
    width: 492px;
  }
  .feature-items,
  .team-items {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }
  .team-items {
    row-gap: 56px;
    margin: 0 92px;
    width: fit-content;
  }
  .customers-items {
    margin: 0 92px;
  }
  .team-item,
  .feature-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .team-item > img {
    width: 264px;
  }
  .feature-item > .crosstitle {
    display: flex;
    justify-content: start;
  }
  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* -------------------------PORTFOLIO.HTML---------------------------------- */

  .section-portfolio {
    padding: 64px 0 96px 0;
  }
  .buttons-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
    margin: 0 0 64px 0;
  }
  .card-items {
    row-gap: 72px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  /* -------------------------FOOTER---------------------------------- */

  .footer-container,
  .footer-wrapper,
  .footer-social,
  .footer-subscribe,
  .footer-form-icons {
    align-items: start;
  }
  .row {
    flex-direction: row;
    gap: 24px;
    margin-left: 108px;
    justify-content: flex-start;
  }
  .footer-subscribe {
    margin-left: 108px;
  }
  .footer-form-icons > .row {
    margin: 0;
  }
  .footer-input {
    max-width: 264px;
  }
  .footer-social {
    margin-top: 67px;
  }
  .footer-container > .row {
    gap: 24px;
  }
  /* -------------------------MODAL---------------------------------- */

  .modal {
    width: 408px;
  }
}
